<table class="table table-bordered table-hover table-responsive-xl table-sm table-striped">
	<thead class="table-dark">
		<tr>
			<th scope="col">Name</th>
			{%-for format in macros_sfz_formats %}
			<th scope="col" style="text-align:center">{{ format.name }}</th>
			{%-endfor %}
		</tr>
	</thead>
	<tbody>
	{%-for engine in macros_sfz_engines %}
		<tr>
			<td>{{ engine.name }}</td>
				{%-for format in macros_sfz_formats %}
					{%-set result = "" %}
					{%-set engine_format = engine.formats
						| selectattr("name", "equalto", format.name) | list | first or '' %}
					{%-if engine_format.name == format.name %}
						{%-set result = "•" %}
					{%-endif %}
			<td style="text-align:center">{{ result }}</td>
				{%-endfor %}
		</tr>
	{%-endfor %}
	</tbody>
</table>
