<table class="table table-bordered table-hover table-responsive-xl table-sm table-striped">
	<thead class="table-dark">
		<tr>
			<th scope="col">Type</th>
			<th scope="col">Description</th>
			<th scope="col">ARIA</th>
			<th scope="col">LinuxSampler</th>
			<th scope="col">Version</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>lpf_1p</td>
			<td>One-pole low pass filter (6dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v1</td>
		</tr>
		<tr>
			<td>hpf_1p</td>
			<td>One-pole high pass filter (6dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v1</td>
		</tr>
		<tr>
			<td>lpf_2p</td>
			<td>Two-pole low pass filter (12dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v1</td>
		</tr>
		<tr>
			<td>hpf_2p</td>
			<td>Two-pole high pass filter (12dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v1</td>
		</tr>
		<tr>
			<td>bpf_2p</td>
			<td>Two-pole band pass filter (12dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v1</td>
		</tr>
		<tr>
			<td>brf_2p</td>
			<td>Two-pole band rejection filter (12dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v1</td>
		</tr>
		<tr>
			<td>bpf_1p</td>
			<td>One-pole band pass filter (6dB/octave)</td>
			<td>✓</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>brf_1p</td>
			<td>One-pole band rejection filter (6dB/octave)</td>
			<td>✓</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>apf_1p</td>
			<td>One-pole all pass filter (6dB/octave)</td>
			<td>X</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>lpf_2p_sv</td>
			<td>Two-pole low pass state variable filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>hpf_2p_sv</td>
			<td>Two-pole high pass state variable filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>bpf_2p_sv</td>
			<td>Two-pole band pass state variable filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>brf_2p_sv</td>
			<td>Two-pole band rejection state variable filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>pkf_2p</td>
			<td>Two-pole peak filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>lpf_4p</td>
			<td>Four-pole low pass filter (24dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>hpf_4p</td>
			<td>Four-pole high pass filter (24dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>lpf_6p</td>
			<td>Six-pole low pass filter (36dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>hpf_6p</td>
			<td>Six-pole high pass filter (36dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>comb</td>
			<td>Comb filter</td>
			<td>X</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>pink</td>
			<td>Pink noise filter</td>
			<td>X</td>
			<td>X</td>
			<td>SFZ v2</td>
		</tr>
		<tr>
			<td>lsh</td>
			<td>Low shelf</td>
			<td>✓</td>
			<td>X</td>
			<td>ARIA</td>
		</tr>
		<tr>
			<td>hsh</td>
			<td>High shelf</td>
			<td>✓</td>
			<td>X</td>
			<td>ARIA</td>
		</tr>
		<tr>
			<td>peq</td>
			<td>Parametric EQ</td>
			<td>✓</td>
			<td>X</td>
			<td>ARIA</td>
		</tr>
	</tbody>
</table>
