{%- set categories = [] %}
{%- set category_ids = [] %}
{%- set sfz_syntax = load_yaml(config.extra.db.sfz.syntax) %}
{%- for category in sfz_syntax.categories %}
	{%- if category.opcodes %}
		{{- categories.append(category.name) or '' }}
		{{- category_ids.append(category.id) or '' }}
	{%- endif %}
	{%- for category_type in category.types %}
		{{- categories.append(category_type.name) or '' }}
		{{- category_ids.append(category_type.id) or '' }}
	{%- endfor %}
{%- endfor %}
<style>
div.checkbox-filter {
	border-left: 10px solid;
	padding-left: 5px;
	margin: 1px 0 1px 0
}
{%- set i = namespace(value=0) %}
{%- set j = namespace(value=1) %}
{%-for category in categories %}
	{%- set id = category_ids[i.value] %}
	{%- set n = 360 * j.value // (categories | count) %}
	div.{{ id }} {border-color:hsl({{ n }},100%,50%)} td.{{ id }} {background-color:hsl({{ n }},100%,50%)}
	{%- set i.value = i.value + 1 %}
	{%- set j.value = j.value + 1 %}
{%-endfor %}
</style>
