						<div>
							<div class="card mb-3">
								<div class="card-header bg-dark text-bg-dark">
									Opcode Filters
								</div>
								<div class="card-body" style="padding: 0.5rem">
									<input
										id="search-opcodes"
										placeholder="Search for opcodes..."
										data-filter-column="1">
									<div><b>Versions</b></div>
								{%-set sfz_syntax = load_yaml(config.extra.db.sfz.syntax) %}
								{%-for version in sfz_syntax.versions %}
									{%-set id = "chk-" ~ version | lower | replace("sfz v", '') %}
									<div>
										<input
											type="checkbox"
											class="versions-checkbox"
											id="{{ id }}"
											value="{%-if version != 'Unknown' %}{{ version }}{%-endif %}">
											{{ version }}
									</div>
								{%-endfor %}
									<div><b>Categories</b></div>
								{%-for category in sfz_syntax.categories %}
									{%-if category.opcodes | count > 0 %}
										{%-set id = "chk-" ~ category.id %}
									<div class="checkbox-filter {{ category.id }}">
										<input
											type="checkbox"
											class="categories-checkbox"
											id="{{ id }}"
											value="{{ category.name }}">
										{{ category.name }}
									</div>
									{%-endif %}
									{%-for category_type in category.types %}
										{%-set idt = "chk-" ~ category_type.id %}
									<div class="checkbox-filter {{ category_type.id }}">
										<input
											type="checkbox"
											class="categories-checkbox"
											id="{{ idt }}"
											value="{{ category_type.name }}">
										{{ category_type.name }}
									</div>
									{%-endfor %}
								{%-endfor %}
								</div>
							</div>
						</div>