{%-set apps_os         = macros_sfz_software.os %}
{%-set apps_categories = macros_sfz_software.categories %}

{%-for page_category in page.meta.app_categories %}
	{%-for category in apps_categories %}
		{%-if page_category == category.name %}
			{%-if page.meta.show_category_titles %}
				{%-set page_category_id = page_category|lower|replace(' ', '-') %}
<h2 id="{{page_category_id}}">{{ page_category }}</h2>
			{%-endif %}
<table class="table table-bordered table-hover table-responsive-xl table-sm table-striped">
	<thead class="table-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">License</th>
			{%-for os in apps_os %}
			<th scope="col" style="text-align:center">{{ os.name }}</th>
			{%-endfor %}
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
			{%-for app in category.applications %}
	<tr>
		<td><a href="{{ app.url }}">{{ app.name }}</a></td>
		<td>{{ app.license }}</td>
				{%-for os in apps_os %}
					{%-if os in app.os %}
						{%-set os_supported = "✓" %}
					{%-else %}
						{%-set os_supported = "X" %}
					{%-endif %}
		<td style="text-align:center">{{ os_supported }}</td>
				{%-endfor %}
				{%-if app.short_description %}
		<td>{{ app.short_description }}</td>
				{%-endif %}
	</tr>
			{%-endfor %}
	</tbody>
</table>
		{%-endif %}
	{%-endfor %}
{%-endfor %}
