<div class="card border-primary mb-4">
	<div class="card-header bg-primary text-light"><i class="fas fa-eye" aria-hidden="true"></i> Follow us</div>
	<div class="card-body">
		<ul class="nav nav-pills flex-column">
			<li class="nav-item"><a class="nav-link" href="https://github.com/sfzformat/" title="GitHub Organization">
				<i class="fab fa-github" aria-hidden="true"></i> GitHub Organization</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/atom.xml" title="News Atom Feed">
				<i class="fas fa-rss" aria-hidden="true"></i> News Atom Feed</a>
			</li>
		</ul>
	</div>
</div>
