---
layout: default
---
{%-assign opcode_name = page.name | replace: ".md", ''-%}
{%-assign found = false-%}
{%-for category in site.data.sfz.syntax.categories-%}
	{%-for opcode in category.opcodes-%}
		{%-if opcode.name == opcode_name-%}
			{%-assign found = true-%}
			{%-assign opcode_info = opcode-%}
			{%break%}
		{%-endif-%}
	{%-endfor-%}
	{%-if found == false-%}
		{%-for category_type in category.types-%}
			{%-for opcode in category_type.opcodes-%}
				{%-if opcode.name == opcode_name-%}
					{%-assign opcode_info = opcode-%}
					{%break%}
				{%-endif-%}
			{%-endfor-%}
		{%-endfor-%}
	{%-endif-%}
{%-endfor-%}
{%-if opcode_info.value.min == nil-%}
	{%-if opcode_info.value.options-%}
		{%-for option in opcode_info.value.options-%}
			{%-assign opcode_info_range = opcode_info_range | append: option.name-%}
			{%-if forloop.last == false-%}
				{%-assign opcode_info_range = opcode_info_range | append: ", "-%}
			{%-endif-%}
		{%-endfor-%}
	{%-else-%}
		{%-assign opcode_info_range = "N/A"-%}
	{%-endif-%}
{%-else-%}
	{%-assign opcode_info_range = opcode_info.value.min | append: " to " |
		append: opcode_info.value.max-%}
{%-endif-%}
{%-if opcode_info.value.default == nil-%}
		{%-assign opcode_info_default = "N/A"-%}
{%-else-%}
		{%-assign opcode_info_default = opcode_info.value.default-%}
{%-endif-%}

<p>{{ opcode_info.short_description }}</p>

{{ content }}

<table class="table table-sm table-hover table-striped table-responsive">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Version</th>
			<th scope="col">Type</th>
			<th scope="col">Default</th>
			<th scope="col">Range</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row"></th>
			<td>{{ opcode_info.name }}</td>
			<td>{{ opcode_info.version }}</td>
			<td>{{ opcode_info.value.type_name }}</td>
			<td>{{ opcode_info_default }}</td>
			<td>{{ opcode_info_range }}</td>
		</tr>
{%-for midi_cc in opcode_info.modulation.midi_cc-%}
	{%-if midi_cc.value.default != nil-%}
		{%-assign midi_cc_default = midi_cc.value.default-%}
	{%-else-%}
		{%-assign midi_cc_default = "N/A"-%}
	{%-endif-%}
	{%-if midi_cc.value.min != nil-%}
		{%-assign midi_cc_range = midi_cc.value.min | append: " to " |
			append: midi_cc.value.max-%}
	{%-else-%}
		{%-assign midi_cc_range = "N/A"-%}
	{%-endif-%}
		<tr>
			<td>{{ midi_cc.name }}</td>
			<td>{{ midi_cc.version }}</td>
			<td>{{ midi_cc.value.type_name }}</td>
			<td>{{ midi_cc_default }}</td>
			<td>{{ midi_cc_range }}</td>
		</tr>
{%-endfor-%}
{%-for velocity in opcode_info.modulation.velocity-%}
	{%-if velocity.value.default != nil-%}
		{%-assign velocity_default = velocity.value.default-%}
	{%-else-%}
		{%-assign velocity_default = "N/A"-%}
	{%-endif-%}
	{%-if velocity.value.min != nil-%}
		{%-assign velocity_range = velocity.value.min | append: " to " |
			append: velocity.value.max-%}
	{%-else-%}
		{%-assign velocity_range = "N/A"-%}
	{%-endif-%}
	<tr>
		<td>{{ velocity.name }}</td>
		<td>{{ velocity.version }}</td>
		<td>{{ velocity.value.type_name }}</td>
		<td>{{ velocity_default }}</td>
		<td>{{ velocity_range }}</td>
	</tr>
{%-endfor-%}
		</tbody>
</table>

{%-if opcode_info.modulation-%}
	<h2>Modulation Sources</h2>
	{%-assign envelope = opcode_info.modulation.envelope-%}
	{%-assign lfo = opcode_info.modulation.lfo-%}
	{%-if envelope == nil-%}
		{%-assign envelope = 'X'-%}
	{%-endif-%}
	{%-if lfo == nil-%}
		{%-assign lfo = 'X'-%}
	{%-endif-%}
	<ul>
		<li>Envelope: {{ envelope }}</li>
		<li>LFO: {{ lfo }}</li>
		<li>MIDI CC:</li>
		<ul>
	{%-for midi_cc in opcode_info.modulation.midi_cc-%}
		{%-assign midi_cc_name = midi_cc.name |
			append: " (" | append: midi_cc.version	| append: ')'-%}
<li>
		{%-for alias in midi_cc.alias-%}
			{%-assign midi_cc_name = midi_cc_name | append: ", alias " | append: alias.name |
				append: " (" | append: alias.version | append: ')'-%}
		{%-endfor-%}
	{{ midi_cc_name }}
</li>
	{%-endfor-%}
		</ul>
	{%-if opcode_info.modulation.velocity != nil-%}
		<li>Velocity:</li>
		<ul>
			{%-for velocity in opcode_info.modulation.velocity-%}
				{%-assign velocity_name = velocity.name |
					append: " (" | append: velocity.version	| append: ')'-%}
		<li>
				{%-for alias in velocity.alias-%}
					{%-assign velocity_name = velocity_name | append: ", alias " |
						append: alias.name | append: " (" | append: alias.version | append: ')'-%}
				{%-endfor-%}
			{{ velocity_name }}
		</li>
			{%-endfor-%}
		</ul>
	{%-endif-%}
	</ul>
{%-endif-%}
