{%- assign opcode_url_result = "" -%}
{%- if include.opcode.url == nil -%}
  {%- assign opcode_pagename = include.opcode.name
    | replace: '#', '' | replace: '*', '' -%}
  {%- assign opcode_url = '/opcodes/' | append: opcode_pagename | relative_url -%}
  {%- assign opcode_url_result = '<a href="' | append: opcode_url
    | append: '">' | append: include.opcode.name | append: '</a>' -%}
{%- else -%}
  {%- assign opcode_url_result = '<a href="' | append: opcode.url
    | append: '">' | append: include.opcode.name | append: '</a>' -%}
{%- endif -%}
{{ opcode_url_result }}
{%- comment -%} No new line, avoid <p>{%- endcomment -%}