<!DOCTYPE html>
<html>
	<head>
{% include head.liquid %}
	</head>
{% if page.classes %}
	<body class="{{ page.classes | join: ' ' }}">
{% else %}
	<body>
{% endif %}
		<button onclick="topFunction()" id="scrollButton" title="Go to top">Top</button>
		<a href="#content" class="sr-only">Skip to content</a>
		<div class="container">
{% include header.liquid %}
			<div class="row mt-4" id="content">
				<div class="col-md-9">
					<article>
{%-if page.title-%}
						{%-if page.no_title_header == nil-%}<h1>{{ page.title }}</h1>{%-endif-%}
{%-else-%}
	{%-if page.opcode_name-%}
		{%-assign page_title = page.opcode_name-%}
	{%-else-%}
		{%-assign page_title = page.name | replace: ".md", ''-%}
	{%-endif-%}
						<h1>{{ page_title }}</h1>
{%-endif-%}
{% include anchor_headings.liquid html=content anchorClass="toc-anchor" anchorBody="#" %}
					</article>
				</div>
				<div class="col-md-3">
					<aside>
{%if page.cards%}
	{% include {{ page.cards }} %}
{%else%}
	{% include cards.liquid %}
{%endif%}
					</aside>
				</div>
			</div>
{% include footer.liquid %}
		</div>
{% include scripts.liquid %}
	</body>
</html>
