<table class="table table-sm table-bordered table-hover table-striped table-responsive-xl">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Type</th>
			<th scope="col">Description</th>
			<th scope="col">ARIA</th>
			<th scope="col">LinuxSampler</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>bpf_1p</td>
			<td>One-pole band pass filter (6dB/octave)</td>
			<td>✓</td>
			<td>X</td>
		</tr>
		<tr>
			<td>brf_1p</td>
			<td>One-pole band rejection filter (6dB/octave)</td>
			<td>✓</td>
			<td>X</td>
		</tr>
		<tr>
			<td>apf_1p</td>
			<td>One-pole all pass filter (6dB/octave)</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>lpf_2p_sv</td>
			<td>Two-pole low pass state variable filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>hpf_2p_sv</td>
			<td>Two-pole high pass state variable filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>bpf_2p_sv</td>
			<td>Two-pole band pass state variable filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>brf_2p_sv</td>
			<td>Two-pole band rejection state variable filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>pkf_2p</td>
			<td>Two-pole peak filter (12dB/octave)</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>lpf_4p</td>
			<td>Four-pole low pass filter (24dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
		</tr>
		<tr>
			<td>hpf_4p</td>
			<td>Four-pole high pass filter (24dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
		</tr>
		<tr>
			<td>lpf_6p</td>
			<td>Six-pole low pass filter (36dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
		</tr>
		<tr>
			<td>hpf_6p</td>
			<td>Six-pole high pass filter (36dB/octave)</td>
			<td>✓</td>
			<td>✓</td>
		</tr>
		<tr>
			<td>comb</td>
			<td>Comb filter</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>pink</td>
			<td>Pink noise filter</td>
			<td>X</td>
			<td>X</td>
		</tr>
	</tbody>
</table>
