<table class="table table-sm table-bordered table-hover table-striped table-responsive-xl">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Type</th>
			<th scope="col">ARIA</th>
			<th scope="col">LinuxSampler</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>bpf_1p</td>
			<td>✓</td>
			<td>X</td>
		</tr>
		<tr>
			<td>brf_1p</td>
			<td>✓</td>
			<td>X</td>
		</tr>
		<tr>
			<td>apf_1p</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>lpf_2p_sv</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>hpf_2p_sv</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>bpf_2p_sv</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>brf_2p_sv</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>pkf_2p</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>lpf_4p</td>
			<td>✓</td>
			<td>✓</td>
		</tr>
		<tr>
			<td>hpf_4p</td>
			<td>✓</td>
			<td>✓</td>
		</tr>
		<tr>
			<td>lpf_6p</td>
			<td>✓</td>
			<td>✓</td>
		</tr>
		<tr>
			<td>hpf_6p</td>
			<td>✓</td>
			<td>✓</td>
		</tr>
		<tr>
			<td>comb</td>
			<td>X</td>
			<td>X</td>
		</tr>
		<tr>
			<td>pink</td>
			<td>X</td>
			<td>X</td>
		</tr>
	</tbody>
</table>
