<table>
	<thead>
		<tr>
			<th>Header</th>
			<th style="text-align:center">Version</th>
{%-for player in site.data.sfz.players-%}
			<th style="text-align:center">{{ player.name }}</th>
{%-endfor-%}
		</tr>
	</thead>
	<tbody>
{%-for header in site.data.sfz.syntax.headers-%}
		<tr>
			<td>&lt;<a href="/headers/{{ header.name }}">{{ header.name }}</a>&gt;</td>
			<td style="text-align:center">{{ header.version }}</td>
	{%-for player in site.data.sfz.players-%}
		{%-assign player_support = header.supported_by[player.name]-%}
		{%-if player_support == nil-%}
			{%-assign player_support = "X"-%}
		{%-endif-%}
			<td style="text-align:center">{{ player_support }}</td>
	{%-endfor-%}
		</tr>
{%-endfor-%}
	</tbody>
</table>
