<table class="table table-sm table-hover table-striped table-responsive">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Header</th>
			<th scope="col">Version</th>
		</tr>
	</thead>
	<tbody>
{%-for header in site.data.sfz.syntax.headers-%}
		<tr>
			<td>&lt;<a href="{{ '/headers/' | append: header.name | relative_url }}">{{ header.name }}</a>&gt;</td>
			<td style="text-align:center">{{ header.version }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
