<p>All opcodes, including extensions, starting in alphabetical order.</p>

<p>Note that <a href="{{ '/modulations/' | relative_url }}">modulations</a>
such as (on)ccN, and vel2* opcodes are included in the pages describing
the parameters they modulate.</p>

{%-for category in site.data.sfz.syntax.categories-%}
	{%-if category.opcodes-%}
		{%-assign opcodes = opcodes | concat: category.opcodes-%}
	{%-endif-%}
	{%-for category_type in category.types-%}
		{%-assign opcodes = opcodes | concat: category_type.opcodes-%}
	{%-endfor-%}
{%-endfor-%}
{%-assign opcodes = opcodes | sort: "name"-%}

<div id="filter-container" style="margin-bottom:1em">
	<input
		placeholder="Search for opcodes..."
		class="bootstrap-table-filter-control-opcode">
	<select class="bootstrap-table-filter-control-version">
		<option value="">Choose a version...</option>
		<option>ARIA</option>
		<option>Cakewalk</option>
		<option>LinuxSampler</option>
		<option>SFZ v1</option>
		<option>SFZ v2</option>
	</select>
</div>

<table
	class="table table-sm table-bordered table-hover table-striped table-responsive-xl"
	data-toggle="table"
	data-filter-control="true"
	data-filter-control-container="#filter-container">
	<thead class="thead-dark">
		<tr>
			<th
				data-field="opcode"
				data-sortable="true"
				data-filter-control="input">
				Opcode</th>
			<th data-field="description">Description</th>
			<th>Type</th>
			<th>Default</th>
			<th>Range</th>
			<th
				data-field="version"
				data-sortable="true"
				data-filter-control="select">
				Version</th>
		</tr>
	</thead>
	<tbody>
{%-for opcode in opcodes-%}
	{%-capture opcode_url-%}
		{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=opcode-%}
	{%-endcapture-%}
	{%-capture opcode_value_default-%}
		{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=opcode-%}
	{%-endcapture-%}
	{%-capture opcode_value_range-%}
		{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=opcode-%}
	{%-endcapture-%}
		<tr>
			<td>{{ opcode_url }}</td>
			<td>{{ opcode.short_description }}</td>
			<td>{{ opcode.value.type_name }}</td>
			<td>{{ opcode_value_default }}</td>
			<td>{{ opcode_value_range }}</td>
			<td>{{ opcode.version }}</td>
		</tr>
	{%-for alias in opcode.alias-%}
		{%-capture alias_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
		{%-endcapture-%}
		<tr>
			<td>{{ alias_url }}</td>
			<td>{{ midi_cc_url }} alias.</td>
			<td>{{ opcode.value.type_name }}</td>
			<td>{{ opcode_value_default }}</td>
			<td>{{ opcode_value_range }}</td>
			<td>{{ alias.version }}</td>
		</tr>
	{%-endfor-%}
	{%-for midi_cc in opcode.modulation.midi_cc-%}
		{%-capture midi_cc_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=midi_cc-%}
		{%-endcapture-%}
		{%-capture midi_cc_value_default-%}
			{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=midi_cc-%}
		{%-endcapture-%}
		{%-capture midi_cc_value_range-%}
			{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=midi_cc-%}
		{%-endcapture-%}
		<tr>
			<td>{{ midi_cc_url }}</td>
			<td>{{ midi_cc.short_description }}</td>
			<td>{{ midi_cc.value.type_name }}</td>
			<td>{{ midi_cc_value_default }}</td>
			<td>{{ midi_cc_value_range }}</td>
			<td>{{ midi_cc.version }}</td>
		</tr>
		{%-for alias in midi_cc.alias-%}
			{%-capture alias_url-%}
				{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
			{%-endcapture-%}
			<tr>
				<td>{{ alias_url }}</td>
				<td>{{ midi_cc_url }} alias.</td>
				<td>{{ midi_cc.value.type_name }}</td>
				<td>{{ midi_cc_value_default }}</td>
				<td>{{ midi_cc_value_range }}</td>
				<td>{{ alias.version }}</td>
			</tr>
		{%-endfor-%}
	{%-endfor-%}
	{%-for velocity_cc in opcode.modulation.velocity-%}
		{%-capture velocity_cc_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=velocity_cc-%}
		{%-endcapture-%}
		{%-capture velocity_cc_value_default-%}
			{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=velocity_cc-%}
		{%-endcapture-%}
		{%-capture velocity_cc_value_range-%}
			{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=velocity_cc-%}
		{%-endcapture-%}
		<tr>
			<td>{{ velocity_cc_url }}</td>
			<td>{{ velocity_cc.short_description }}</td>
			<td>{{ velocity_cc.value.type_name }}</td>
			<td>{{ velocity_cc_value_default }}</td>
			<td>{{ velocity_cc_value_range }}</td>
			<td>{{ velocity_cc.version }}</td>
		</tr>
	{%-endfor-%}
{%-endfor-%}
	</tbody>
</table>
