<p>Note that <a href="{{ '/modulations/' | relative_url }}">modulations</a>
such as (on)ccN, and vel2* opcodes are included in the pages describing
the parameters they modulate.</p>

{%-for category in site.data.sfz.syntax.categories-%}
	{%-assign category_opcode_array = category.opcodes |
		where: "version", page.sfz_version-%}
	{%-capture category_url-%}
		{%-include sfz/functions/getCategoryUrlAsHtml.html const_category=category-%}
	{%-endcapture-%}
	{%-if category_opcode_array.size > 0-%}
<h2>{{category_url}}</h2>
<table class="table table-sm table-bordered table-hover table-striped table-responsive-xl">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Opcode</th>
			<th scope="col">Description</th>
			<th scope="col">Type</th>
			<th scope="col">Default</th>
			<th scope="col">Range</th>
		</tr>
	</thead>
	<tbody>
		{%-for opcode in category_opcode_array-%}
			{%-capture opcode_url-%}
				{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=opcode-%}
			{%-endcapture-%}
			{%-capture opcode_value_default-%}
				{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=opcode-%}
			{%-endcapture-%}
			{%-capture opcode_value_range-%}
				{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=opcode-%}
			{%-endcapture-%}
		<tr>
			<td>{{ opcode_url }}</td>
			<td>{{ opcode.short_description }}</td>
			<td>{{ opcode.value.type_name }}</td>
			<td>{{ opcode_value_default }}</td>
			<td>{{ opcode_value_range }}</td>
		</tr>
			{%-for mid_cc in opcode.modulation.midi_cc-%}
				{%-if mid_cc.version == page.sfz_version-%}
					{%-capture mid_cc_url-%}
						{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=mid_cc-%}
					{%-endcapture-%}
					{%-capture mid_cc_value_default-%}
						{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=mid_cc-%}
					{%-endcapture-%}
					{%-capture mid_cc_value_range-%}
						{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=mid_cc-%}
					{%-endcapture-%}
		<tr>
			<td>{{ mid_cc_url }}</td>
			<td>{{ mid_cc.short_description }}</td>
			<td>{{ mid_cc.value.type_name }}</td>
			<td>{{ mid_cc_value_default }}</td>
			<td>{{ mid_cc_value_range }}</td>
		</tr>
				{%-endif-%}
			{%-endfor-%}
			{%-for vel_cc in opcode.modulation.velocity-%}
				{%-if vel_cc.version == page.sfz_version-%}
					{%-capture vel_cc_url-%}
						{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=vel_cc-%}
					{%-endcapture-%}
					{%-capture vel_cc_value_default-%}
						{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=vel_cc-%}
					{%-endcapture-%}
					{%-capture vel_cc_value_range-%}
						{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=vel_cc-%}
					{%-endcapture-%}
		<tr>
			<td>{{ vel_cc_url }}</td>
			<td>{{ vel_cc.short_description }}</td>
			<td>{{ vel_cc.value.type_name }}</td>
			<td>{{ vel_cc_value_default }}</td>
			<td>{{ vel_cc_value_range }}</td>
		</tr>
				{%-endif-%}
			{%-endfor-%}
		{%-endfor-%}
	</tbody>
</table>
	{%-endif-%}
	{%-for category_type in category.types-%}
		{%-assign category_type_opcode_array = category_type.opcodes |
			where: "version", page.sfz_version-%}
		{%-if category_type_opcode_array.size > 0-%}
			{%-capture category_type_url-%}
				{%-include sfz/functions/getCategoryUrlAsHtml.html const_category=category_type-%}
			{%-endcapture-%}
<h2>{{ category_url }}: {{ category_type_url }}</h2>
<table class="table table-sm table-bordered table-hover table-striped table-responsive-xl">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Opcode</th>
			<th scope="col">Description</th>
			<th scope="col">Type</th>
			<th scope="col">Default</th>
			<th scope="col">Range</th>
		</tr>
	</thead>
	<tbody>
			{%-for opcode in category_type_opcode_array-%}
				{%-capture opcode_url-%}
					{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=opcode-%}
				{%-endcapture-%}
				{%-capture opcode_value_default-%}
					{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=opcode-%}
				{%-endcapture-%}
				{%-capture opcode_value_range-%}
					{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=opcode-%}
				{%-endcapture-%}
		<tr>
			<td>{{ opcode_url }}</td>
			<td>{{ opcode.short_description }}</td>
			<td>{{ opcode.value.type_name }}</td>
			<td>{{ opcode_value_default }}</td>
			<td>{{ opcode_value_range }}</td>
		</tr>
				{%-for mid_cc in opcode.modulation.midi_cc-%}
					{%-if mid_cc.version == page.sfz_version-%}
						{%-capture mid_cc_url-%}
							{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=mid_cc-%}
						{%-endcapture-%}
						{%-capture mid_cc_value_default-%}
							{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=mid_cc-%}
						{%-endcapture-%}
						{%-capture mid_cc_value_range-%}
							{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=mid_cc-%}
						{%-endcapture-%}
		<tr>
			<td>{{ mid_cc_url }}</td>
			<td>{{ mid_cc.short_description }}</td>
			<td>{{ mid_cc.value.type_name }}</td>
			<td>{{ mid_cc_value_default }}</td>
			<td>{{ mid_cc_value_range }}</td>
		</tr>
					{%-endif-%}
				{%-endfor-%}
				{%-for vel_cc in opcode.modulation.velocity-%}
					{%-if vel_cc.version == page.sfz_version-%}
						{%-capture vel_cc_url-%}
							{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=vel_cc-%}
						{%-endcapture-%}
						{%-capture vel_cc_value_default-%}
							{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=vel_cc-%}
						{%-endcapture-%}
						{%-capture vel_cc_value_range-%}
							{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=vel_cc-%}
						{%-endcapture-%}
		<tr>
			<td>{{ vel_cc_url }}</td>
			<td>{{ vel_cc.short_description }}</td>
			<td>{{ vel_cc.value.type_name }}</td>
			<td>{{ vel_cc_value_default }}</td>
			<td>{{ vel_cc_value_range }}</td>
		</tr>
					{%-endif-%}
				{%-endfor-%}
			{%-endfor-%}
	</tbody>
</table>
		{%-endif-%}
	{%-endfor-%}
{%-endfor-%}
