
{%-for category in site.data.sfz.syntax.categories-%}
	{%if category.opcodes.size > 0%}
		{%-assign categories = categories | append: ',' | append: category.name-%}
		{%-assign category_ids = category_ids | append: ',' | append: category.id-%}
	{%-endif-%}
	{%-for category_type in category.types-%}
		{%-assign categories = categories | append: ',' | append: category_type.name-%}
		{%-assign category_ids = category_ids | append: ',' | append: category_type.id-%}
	{%-endfor-%}
{%-endfor-%}
{%-assign categories = categories | remove_first: ',' | split: ','-%}
{%-assign category_ids = category_ids | remove_first: ',' | split: ','-%}
<style>
div.checkbox-filter {
	border-left: 10px solid;
	padding-left: 5px;
	margin: 1px 0 1px 0
}
{%-assign i = 0-%}
{%-assign j = 1-%}
{%-for category in categories-%}
	{%-assign id = category_ids[i]-%}
	{%-assign n = 360 | times: j | divided_by: categories.size-%}
	div.{{ id }} {border-color:hsl({{n}},100%,50%)} td.{{ id }} {background-color:hsl({{n}},100%,50%)}
	{%-assign i = i | plus: 1-%}
	{%-assign j = j | plus: 1-%}
{%-endfor-%}
</style>

<table
	class="table table-sm table-bordered table-hover table-striped table-responsive-xl"
	id="data"
	data-toggle="table"
	data-sort-name="opcode"
	data-sort-order="asc"
	data-filter-controls=".filter-control"
	data-search-controls="#filter-opcodes">
	<thead class="thead-dark">
		<tr>
			<th data-field="category"></th>
			<th data-field="opcode" data-sortable="true">Opcode</th>
			<th>Description</th>
			<th>Type</th>
			<th>Default</th>
			<th>Range</th>
			<th data-field="version" data-sortable="true">Version</th>
		</tr>
	</thead>
	<tbody>
{%-for category in site.data.sfz.syntax.categories-%}
	{%-for opcode in category.opcodes-%}
		{%-capture opcode_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=opcode-%}
		{%-endcapture-%}
		{%-capture opcode_value_default-%}
			{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=opcode-%}
		{%-endcapture-%}
		{%-capture opcode_value_range-%}
			{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=opcode-%}
		{%-endcapture-%}
		<tr>
			<td class="{{ category.id }}"><span style="display:none">{{ category.name }}</span></td>
			<td class="opcode">{{ opcode_url }}</td>
			<td>{{ opcode.short_description }}</td>
			<td>{{ opcode.value.type_name }}</td>
			<td>{{ opcode_value_default }}</td>
			<td>{{ opcode_value_range }}</td>
			<td>{{ opcode.version }}</td>
		</tr>
		{%-for alias in opcode.alias-%}
			{%-capture alias_url-%}
				{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
			{%-endcapture-%}
		<tr>
			<td class="{{ category.id }}"><span style="display:none">{{ category.name }}</span></td>
			<td class="opcode">{{ alias_url }}</td>
			<td>{{ opcode_url }} alias.</td>
			<td>{{ opcode.value.type_name }}</td>
			<td>{{ opcode_value_default }}</td>
			<td>{{ opcode_value_range }}</td>
			<td>{{ alias.version }}</td>
		</tr>
		{%-endfor-%}
		{%-for midi_cc in opcode.modulation.midi_cc-%}
			{%-capture midi_cc_url-%}
				{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=midi_cc-%}
			{%-endcapture-%}
			{%-capture midi_cc_value_default-%}
				{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=midi_cc-%}
			{%-endcapture-%}
			{%-capture midi_cc_value_range-%}
				{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=midi_cc-%}
			{%-endcapture-%}
		<tr>
			<td class="{{ category.id }}"><span style="display:none">{{ category.name }}</span></td>
			<td class="opcode">{{ midi_cc_url }}</td>
			<td>{{ midi_cc.short_description }}</td>
			<td>{{ midi_cc.value.type_name }}</td>
			<td>{{ midi_cc_value_default }}</td>
			<td>{{ midi_cc_value_range }}</td>
			<td>{{ midi_cc.version }}</td>
		</tr>
			{%-for alias in midi_cc.alias-%}
				{%-capture alias_url-%}
					{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
				{%-endcapture-%}
			<tr>
				<td class="{{ category.id }}"><span style="display:none">{{ category.name }}</span></td>
				<td class="opcode">{{ alias_url }}</td>
				<td>{{ midi_cc_url }} alias.</td>
				<td>{{ midi_cc.value.type_name }}</td>
				<td>{{ midi_cc_value_default }}</td>
				<td>{{ midi_cc_value_range }}</td>
				<td>{{ alias.version }}</td>
			</tr>
			{%-endfor-%}
		{%-endfor-%}
		{%-for velocity_cc in opcode.modulation.velocity-%}
			{%-capture velocity_cc_url-%}
				{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=velocity_cc-%}
			{%-endcapture-%}
			{%-capture velocity_cc_value_default-%}
				{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=velocity_cc-%}
			{%-endcapture-%}
			{%-capture velocity_cc_value_range-%}
				{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=velocity_cc-%}
			{%-endcapture-%}
		<tr>
			<td class="{{ category.id }}"><span style="display:none">{{ category.name }}</span></td>
			<td class="opcode">{{ velocity_cc_url }}</td>
			<td>{{ velocity_cc.short_description }}</td>
			<td>{{ velocity_cc.value.type_name }}</td>
			<td>{{ velocity_cc_value_default }}</td>
			<td>{{ velocity_cc_value_range }}</td>
			<td>{{ velocity_cc.version }}</td>
		</tr>
		{%-endfor-%}
	{%-endfor-%}
	{%-for category_type in category.types-%}
		{%-for opcode in category_type.opcodes-%}
			{%-capture opcode_url-%}
				{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=opcode-%}
			{%-endcapture-%}
			{%-capture opcode_value_default-%}
				{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=opcode-%}
			{%-endcapture-%}
			{%-capture opcode_value_range-%}
				{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=opcode-%}
			{%-endcapture-%}
			<tr>
				<td class="{{ category_type.id }}"><span style="display:none">{{ category_type.name }}</span></td>
				<td class="opcode">{{ opcode_url }}</td>
				<td>{{ opcode.short_description }}</td>
				<td>{{ opcode.value.type_name }}</td>
				<td>{{ opcode_value_default }}</td>
				<td>{{ opcode_value_range }}</td>
				<td>{{ opcode.version }}</td>
			</tr>
			{%-for alias in opcode.alias-%}
				{%-capture alias_url-%}
					{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
				{%-endcapture-%}
			<tr>
				<td class="{{ category_type.id }}"><span style="display:none">{{ category_type.name }}</span></td>
				<td class="opcode">{{ alias_url }}</td>
				<td>{{ opcode_url }} alias.</td>
				<td>{{ opcode.value.type_name }}</td>
				<td>{{ opcode_value_default }}</td>
				<td>{{ opcode_value_range }}</td>
				<td>{{ alias.version }}</td>
			</tr>
			{%-endfor-%}
			{%-for midi_cc in opcode.modulation.midi_cc-%}
				{%-capture midi_cc_url-%}
					{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=midi_cc-%}
				{%-endcapture-%}
				{%-capture midi_cc_value_default-%}
					{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=midi_cc-%}
				{%-endcapture-%}
				{%-capture midi_cc_value_range-%}
					{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=midi_cc-%}
				{%-endcapture-%}
			<tr>
				<td class="{{ category_type.id }}"><span style="display:none">{{ category_type.name }}</span></td>
				<td class="opcode">{{ midi_cc_url }}</td>
				<td>{{ midi_cc.short_description }}</td>
				<td>{{ midi_cc.value.type_name }}</td>
				<td>{{ midi_cc_value_default }}</td>
				<td>{{ midi_cc_value_range }}</td>
				<td>{{ midi_cc.version }}</td>
			</tr>
				{%-for alias in midi_cc.alias-%}
					{%-capture alias_url-%}
						{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
					{%-endcapture-%}
				<tr>
					<td class="{{ category_type.id }}"><span style="display:none">{{ category_type.name }}</span></td>
					<td class="opcode">{{ alias_url }}</td>
					<td>{{ midi_cc_url }} alias.</td>
					<td>{{ midi_cc.value.type_name }}</td>
					<td>{{ midi_cc_value_default }}</td>
					<td>{{ midi_cc_value_range }}</td>
					<td>{{ alias.version }}</td>
				</tr>
				{%-endfor-%}
			{%-endfor-%}
			{%-for velocity_cc in opcode.modulation.velocity-%}
				{%-capture velocity_cc_url-%}
					{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=velocity_cc-%}
				{%-endcapture-%}
				{%-capture velocity_cc_value_default-%}
					{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=velocity_cc-%}
				{%-endcapture-%}
				{%-capture velocity_cc_value_range-%}
					{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=velocity_cc-%}
				{%-endcapture-%}
			<tr>
				<td class="{{ category_type.id }}"><span style="display:none">{{ category_type.name }}</span></td>
				<td class="opcode">{{ velocity_cc_url }}</td>
				<td>{{ velocity_cc.short_description }}</td>
				<td>{{ velocity_cc.value.type_name }}</td>
				<td>{{ velocity_cc_value_default }}</td>
				<td>{{ velocity_cc_value_range }}</td>
				<td>{{ velocity_cc.version }}</td>
			</tr>
			{%-endfor-%}
		{%-endfor-%}
	{%-endfor-%}
{%-endfor-%}
	</tbody>
</table>

