<p>All opcodes, including extensions, starting in alphabetical order.</p>

<p>Note that <a href="{{ '/modulations/' | relative_url }}">modulations</a>
such as (on)ccN, and vel2* opcodes are included in the pages describing
the parameters they modulate.</p>

<style>
div.checkbox-filter {
    border-left: 10px solid;
/* border-top: 1px solid; */
    padding-left: 5px;
    margin: 1px 0 1px 0
}
div.ins {border-color:#ff0;}
div.vlc {border-color:#b3f500;}
div.lfo {border-color:#62e800;}
div.eg  {border-color:#00b730;}
div.crv {border-color:#00a0a0;}
div.efx {border-color:#006fbb;}
div.ptc {border-color:#0039eb;}
div.amp {border-color:#7d00d3;}
div.flt {border-color:#bf00bf;}
div.eq  {border-color:#de007d;}
div.map {border-color:red;}
div.mid {border-color:#faa;}
div.int {border-color:#ff8e00;}
div.trg {border-color:#ffbf00;}
div.spl {border-color:#ffe6b3;}
td.ins {background-color:#ff0;}
td.vlc {background-color:#b3f500;}
td.lfo {background-color:#62e800;}
td.eg  {background-color:#00b730;}
td.crv {background-color:#00a0a0;}
td.efx {background-color:#006fbb;}
td.ptc {background-color:#0039eb;}
td.amp {background-color:#7d00d3;}
td.flt {background-color:#bf00bf;}
td.eq  {background-color:#de007d;}
td.map {background-color:red;}
td.mid {background-color:#faa;}
td.int {background-color:#ff8e00;}
td.trg {background-color:#ffbf00;}
td.spl {background-color:#ffe6b3;}
</style>

{%-for category in site.data.sfz.syntax.categories-%}
	{%-if category.opcodes-%}
		{%-assign opcodes = opcodes | concat: category.opcodes-%}
	{%-endif-%}
	{%-for category_type in category.types-%}
		{%-assign opcodes = opcodes | concat: category_type.opcodes-%}
	{%-endfor-%}
{%-endfor-%}
{%comment%}
{%-assign opcodes = opcodes | sort: "name"-%}
{%endcomment%}
<table
	class="table table-sm table-bordered table-hover table-striped table-responsive-xl"
	id="data"
	data-toggle="table"
	data-sort-name="opcode"
	data-sort-order="asc"
	data-filter-controls="#filter-container"
	data-search-controls="#search-controls">
	<thead class="thead-dark">
		<tr>
			<th
				data-field="category">
			</th>
			<th
				data-field="opcode"
				data-sortable="true">
				Opcode</th>
			<th data-field="description">Description</th>
			<th>Type</th>
			<th>Default</th>
			<th>Range</th>
			<th
				data-field="version"
				data-sortable="true">
				Version</th>
		</tr>
	</thead>
	<tbody>
{%-for opcode in opcodes-%}
	{%-capture opcode_url-%}
		{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=opcode-%}
	{%-endcapture-%}
	{%-capture opcode_value_default-%}
		{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=opcode-%}
	{%-endcapture-%}
	{%-capture opcode_value_range-%}
		{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=opcode-%}
	{%-endcapture-%}
		<tr>
			<td class="ins"></td>
			<td class="opcode">{{ opcode_url }}</td>
			<td>{{ opcode.short_description }}</td>
			<td>{{ opcode.value.type_name }}</td>
			<td>{{ opcode_value_default }}</td>
			<td>{{ opcode_value_range }}</td>
			<td>{{ opcode.version }}</td>
		</tr>
	{%-for alias in opcode.alias-%}
		{%-capture alias_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
		{%-endcapture-%}
		<tr>
			<td class="crv"></td>
			<td class="opcode">{{ alias_url }}</td>
			<td>{{ opcode_url }} alias.</td>
			<td>{{ opcode.value.type_name }}</td>
			<td>{{ opcode_value_default }}</td>
			<td>{{ opcode_value_range }}</td>
			<td>{{ alias.version }}</td>
		</tr>
	{%-endfor-%}
	{%-for midi_cc in opcode.modulation.midi_cc-%}
		{%-capture midi_cc_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=midi_cc-%}
		{%-endcapture-%}
		{%-capture midi_cc_value_default-%}
			{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=midi_cc-%}
		{%-endcapture-%}
		{%-capture midi_cc_value_range-%}
			{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=midi_cc-%}
		{%-endcapture-%}
		<tr>
			<td class="map"></td>
			<td class="opcode">{{ midi_cc_url }}</td>
			<td>{{ midi_cc.short_description }}</td>
			<td>{{ midi_cc.value.type_name }}</td>
			<td>{{ midi_cc_value_default }}</td>
			<td>{{ midi_cc_value_range }}</td>
			<td>{{ midi_cc.version }}</td>
		</tr>
		{%-for alias in midi_cc.alias-%}
			{%-capture alias_url-%}
				{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
			{%-endcapture-%}
			<tr>
				<td class="eg"></td>
				<td class="opcode">{{ alias_url }}</td>
				<td>{{ midi_cc_url }} alias.</td>
				<td>{{ midi_cc.value.type_name }}</td>
				<td>{{ midi_cc_value_default }}</td>
				<td>{{ midi_cc_value_range }}</td>
				<td>{{ alias.version }}</td>
			</tr>
		{%-endfor-%}
	{%-endfor-%}
	{%-for velocity_cc in opcode.modulation.velocity-%}
		{%-capture velocity_cc_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=velocity_cc-%}
		{%-endcapture-%}
		{%-capture velocity_cc_value_default-%}
			{%-include sfz/functions/getOpcodeDefaultAsString.html const_opcode=velocity_cc-%}
		{%-endcapture-%}
		{%-capture velocity_cc_value_range-%}
			{%-include sfz/functions/getOpcodeRangeAsString.html const_opcode=velocity_cc-%}
		{%-endcapture-%}
		<tr>
			<td class="int"></td>
			<td class="opcode">{{ velocity_cc_url }}</td>
			<td>{{ velocity_cc.short_description }}</td>
			<td>{{ velocity_cc.value.type_name }}</td>
			<td>{{ velocity_cc_value_default }}</td>
			<td>{{ velocity_cc_value_range }}</td>
			<td>{{ velocity_cc.version }}</td>
		</tr>
	{%-endfor-%}
{%-endfor-%}
	</tbody>
</table>
