					<div id="filter-container">
						<div class="card border-dark mb-3">
							<div class="card-header text-light"
								style="background-color:#222">
								Opcodes
							</div>
							<div class="card-body" style="padding: 0.5rem">
								<input
									id="filter-opcodes"
									type="text"
									placeholder="Search for opcodes..."
									data-filter-column="1">
							</div>
						</div>
						<div class="card border-dark mb-3">
							<div class="card-header text-light"
								style="background-color:#222">
								Versions
							</div>
							<div class="card-body table-filters" style="padding: 0.5rem">
								<div><input
									type="checkbox"
									data-filter-column="6"
									value="ARIA">
									ARIA</div>
								<div><input
									type="checkbox"
									data-filter-column="6"
									value="Cakewalk">
									Cakewalk</div>
								<div><input
									type="checkbox"
									data-filter-column="6"
									value="LinuxSampler">
									LinuxSampler</div>
								<div><input
									type="checkbox"
									data-filter-column="6"
									value="SFZ v1">
									SFZ v1</div>
								<div><input
									type="checkbox"
									data-filter-column="6"
									value="SFZ v2">
									SFZ v2</div>
								<div><input
									type="checkbox"
									data-filter-column="6"
									value="">
									Unknown</div>
							</div>
						</div>
						<div class="card border-dark mb-3">
							<div class="card-header text-light"
								style="background-color:#222">
								Categories
							</div>
							<div class="card-body" style="padding: 0.5rem">
								<div class="checkbox-filter ins">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Instruments Settings
								</div>
								<div class="checkbox-filter vlc">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Voice Lifecycle
								</div>
								<div class="checkbox-filter lfo">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										LFO
								</div>
								<div class="checkbox-filter eg">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										EG
								</div>
								<div class="checkbox-filter crv">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Curves
								</div>
								<div class="checkbox-filter efx">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Effects
								</div>
								<div class="checkbox-filter ptc">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Pitch
								</div>
								<div class="checkbox-filter amp">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Amplifier
								</div>
								<div class="checkbox-filter flt">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Filter
								</div>
								<div class="checkbox-filter eq">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										EQ
								</div>
								<div class="checkbox-filter map">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Key Mapping
								</div>
								<div class="checkbox-filter map">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										MIDI Conditions
								</div>
								<div class="checkbox-filter int">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Internal Conditions
								</div>
								<div class="checkbox-filter trg">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Triggers
								</div>
								<div class="checkbox-filter spl">
									<input
										type="checkbox"
										class="bootstrap-table-filter-control-category">
										Sample Playback
								</div>
							</div>
						</div>
					</div>