<p>All opcodes, including extensions, starting in alphabetical order.</p>

<p>Note that <a href="{{ '/modulations/' | relative_url }}">modulations</a>
such as (on)ccN, and vel2* opcodes are included in the pages describing
the parameters they modulate.</p>

{%-for category in site.data.sfz.syntax.categories-%}
	{%-if category.opcodes-%}
		{%-assign opcodes = opcodes | concat: category.opcodes-%}
	{%-endif-%}
	{%-for category_type in category.types-%}
		{%-assign opcodes = opcodes | concat: category_type.opcodes-%}
	{%-endfor-%}
{%-endfor-%}
{%-assign opcodes = opcodes | sort: "name"-%}

<input type="text" onkeyup="opcodeSearch()" placeholder="Search for opcodes..">

<table class="table table-sm table-bordered table-hover table-striped table-responsive-xl" data-toggle="table">
	<thead class="thead-dark">
		<tr>
			<th data-field="opcode" data-sortable="true">Opcode</th>
			<th data-field="description" data-sortable="true">Description</th>
			<th data-field="version" data-sortable="true">Version</th>
		</tr>
	</thead>
	<tbody>
{%-for opcode in opcodes-%}
	{%-capture opcode_url-%}
		{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=opcode-%}
	{%-endcapture-%}
	{%-capture opcode_version-%}
		{%-include sfz/functions/getOpcodeVersionAsHtml.html const_version=opcode.version-%}
	{%-endcapture-%}
		<tr>
			<td>{{ opcode_url }}</td>
			<td>{{ opcode.short_description }}</td>
			<td>{{ opcode_version }}</td>
		</tr>
	{%-for alias in opcode.alias-%}
		{%-capture alias_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
		{%-endcapture-%}
		{%-capture alias_version-%}
			{%-include sfz/functions/getOpcodeVersionAsHtml.html const_version=alias.version-%}
		{%-endcapture-%}
		<tr>
			<td>{{ alias_url }}</td>
			<td>{{ alias.short_description }}</td>
			<td>{{ alias_version }}</td>
		</tr>
	{%-endfor-%}
	{%-for midi_cc in opcode.modulation.midi_cc-%}
		{%-capture midi_cc_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=midi_cc-%}
		{%-endcapture-%}
		{%-capture midi_cc_version-%}
			{%-include sfz/functions/getOpcodeVersionAsHtml.html const_version=midi_cc.version-%}
		{%-endcapture-%}
		<tr>
			<td>{{ midi_cc_url }}</td>
			<td>{{ midi_cc.short_description }}</td>
			<td>{{ midi_cc_version }}</td>
		</tr>
		{%-for alias in midi_cc.alias-%}
			{%-capture alias_url-%}
				{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=alias-%}
			{%-endcapture-%}
			{%-capture alias_version-%}
				{%-include sfz/functions/getOpcodeVersionAsHtml.html const_version=alias.version-%}
			{%-endcapture-%}
			<tr>
				<td>{{ alias_url }}</td>
				<td>{{ alias.short_description }}</td>
				<td>{{ alias_version }}</td>
			</tr>
		{%-endfor-%}
	{%-endfor-%}
	{%-for velocity_cc in opcode.modulation.velocity-%}
		{%-capture velocity_cc_url-%}
			{%-include sfz/functions/getOpcodeUrlAsHtml.html const_opcode=velocity_cc-%}
		{%-endcapture-%}
		{%-capture velocity_cc_version-%}
			{%-include sfz/functions/getOpcodeVersionAsHtml.html const_version=velocity_cc.version-%}
		{%-endcapture-%}
		<tr>
			<td>{{ velocity_cc_url }}</td>
			<td>{{ velocity_cc.short_description }}</td>
			<td>{{ velocity_cc_version }}</td>
		</tr>
	{%-endfor-%}
{%-endfor-%}
	</tbody>
</table>

<script>
function opcodeSearch() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementsByTagName("input")[0];
  filter = input.value.toUpperCase();
  table = document.getElementsByClassName("table-striped")[0];
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
