{% include sfz/opcodes-filters.liquid %}
<table
	class="table table-sm table-bordered table-hover table-striped table-responsive-xl"
	id="table-opcodes"
	data-toggle="table"
	data-sort-name="opcode"
	data-sort-order="asc">
	<thead class="thead-dark">
		<tr>
			<th data-field="category"></th>
			<th data-field="opcode" data-sortable="true">Opcode</th>
			<th>Description</th>
			<th>Type</th>
			<th>Default</th>
			<th>Range</th>
			<th data-field="version" data-sortable="true">Version</th>
		</tr>
	</thead>
	<tbody>
{%-for category_ in site.data.sfz.syntax.categories-%}
	{%-for toplevel_opcode in category_.opcodes-%}
		{% include sfz/functions/processOpcode.liquid
			category = category_
			opcode   = toplevel_opcode %}
	{%-endfor-%}
	{%-for category_type in category_.types-%}
		{%-for toplevel_opcode in category_type.opcodes-%}
			{% include sfz/functions/processOpcode.liquid
				category = category_type
				opcode   = toplevel_opcode %}
		{%-endfor-%}
	{%-endfor-%}
{%-endfor-%}
	</tbody>
</table>
