
<h2>Supported Operating Systems</h2>
<ul>
{%-assign player = page.name | replace: ".md", ''-%}
{%-for os in site.data.sfz.players[player].os-%}
	<li>{{ os.name }}</li>
{%-endfor-%}
</ul>

<h2>Supported Headers</h2>
<table class="table table-sm table-hover table-striped table-responsive">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Header</th>
			<th scope="col" style="text-align:center">Version</th>
			<th scope="col" style="text-align:center">Supported</th>
		</tr>
	</thead>
	<tbody>
{%-for header in site.data.sfz.players[player].headers-%}
	{%-assign header_url = "<a href='/headers/" | append: header.name |
		append: "'>" | append: header.name | append: "</a>"-%}
	{%-if header.support-%}
		{%-assign header_support = header.support-%}
	{%-else-%}
		{%-assign header_support = "✓"-%}
	{%-endif-%}
		<tr>
			<td>{{ header_url }}</td>
			<td style="text-align:center">{{ header.version }}</td>
			<td style="text-align:center">{{ header_support }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
<h2>Supported Opcodes</h2>
<table class="table table-sm table-hover table-striped table-responsive">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Opcode</th>
			<th scope="col" style="text-align:center">Version</th>
			<th scope="col" style="text-align:center">Supported</th>
		</tr>
	</thead>
	<tbody>
{%-for opcode in site.data.sfz.players[player].opcodes-%}
	{%-assign opcode_url = "<a href='/opcodes/" | append: opcode.name |
		replace: '#', '' | replace: '*', '' |
		append: "'>" | append: opcode.name | append: "</a>"-%}
	{%-if opcode.support-%}
		{%-assign opcode_support = opcode.support-%}
	{%-else-%}
		{%-assign opcode_support = "✓"-%}
	{%-endif-%}
		<tr>
			<td>{{ opcode_url }}</td>
			<td style="text-align:center">{{ opcode.version }}</td>
			<td style="text-align:center">{{ opcode_support }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>

