{%-assign apps_os         = site.data.sfz.software.os-%}
{%-assign apps_categories = site.data.sfz.software.categories-%}

{%-for page_category in page.app_categories-%}
	{%-for category in apps_categories-%}
		{%-if page_category == category.name -%}
			{%-if page.show_category_titles-%}
<h2>{{ page_category }}</h2>
			{%-endif-%}
<table class="table table-sm table-hover table-striped table-responsive">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">License</th>
{%-if page.show_documented_column-%}
			<th scope="col">Documented</th>
{%-endif-%}
{%-for os in apps_os-%}
			<th scope="col" style="text-align:center">{{ os.name }}</th>
{%-endfor-%}
		</tr>
	</thead>
	<tbody>
{%-for app in category.applications-%}
	<tr>
		<td><a href="{{ app.url }}">{{ app.name }}</a></td>
		<td>{{ app.license }}</td>
		{%-if page.show_documented_column-%}
			{%-if app.documented-%}
				{%-assign documented = "✓"-%}
			{%-else-%}
				{%-assign documented = "X"-%}
			{%-endif-%}
		<td style="text-align:center">{{ documented }}</td>
		{%-endif-%}
	{%-for os in apps_os-%}
		{%-if app.os contains os-%}
			{%-assign os_supported = "✓"-%}
		{%-else-%}
			{%-assign os_supported = "X"-%}
		{%-endif-%}
		<td style="text-align:center">{{ os_supported }}</td>
	{%-endfor-%}
	</tr>
{%-endfor-%}
	</tbody>
</table>

		{%-endif-%}
	{%-endfor-%}
{%-endfor-%}
