## Real-Time Instrument Script

| Opcode                                                      |  Aria   | LinuxSampler |
| ---                                                         |  :---:  |    :---:     |
| [script](/opcodes/script)                                   |    X    |      ✓       |

## [Modulation](/misc/categories#modulation): [Envelope Generators](/types/envelope_generators)

| Opcode                                                     |  Aria   | LinuxSampler |
| ---                                                        |  :---:  |    :---:     |
| TODO                                                       |         |              |

## [Modulation](/misc/categories#modulation): [LFO](/types/lfo)

| Opcode                                                     |  Aria   | LinuxSampler |
| ---                                                        |  :---:  |    :---:     |
| TODO                                                       |         |              |
