## [Instrument settings](/opcodes/categories#instrument-settings)

| Opcode                                                     |  Aria   | LinuxSampler |
| ---                                                        |  :---:  |    :---:     |
| [#include](/directives/include)                            |    ✓    |      ✓       |
| [hint_*](/opcodes/hint_)                                   |    ✓    |      X       |
| [set_hdccN](/opcodes/set_hdccN)                            |    ✓    |      X       |
| [sostenuto_lo](/opcodes/sostenuto_lo)                      |    ✓    |      X       |
| [sostenuto_cc](/opcodes/sostenuto_cc)                      |    ✓    |      X       |
| [sustain_lo](/opcodes/sustain_lo)                          |    ✓    |      X       |
| [sustain_cc](/opcodes/sustain_cc)                          |    ✓    |      X       |
| [sw_note_offset](sw_note_offset)                           |    ✓    |      X       |
| [sw_octave_offset](sw_octave_offset)                       |    ✓    |      X       |
| [global_label](global_label)                               |    ✓    |      X       |
| [master_label](master_label)                               |    ✓    |      X       |
| [group_label](group_label)                                 |    ✓    |      X       |
| [region_label](region_label)                               |    ✓    |      X       |

## [Instrument settings](/opcodes/categories#instrument-settings): Voice Lifecycle

| Opcode                                                     |  Aria   | LinuxSampler |
| ---                                                        |  :---:  |    :---:     |
| [off_curve](/opcodes/off_curve)                            |    ✓    |      X       |
| [off_mode](/opcodes/off_mode)=time                         |    ✓    |      X       |
| [off_shape](/opcodes/off_shape)                            |    ✓    |      X       |
| [off_time](/opcodes/off_time)                              |    ✓    |      X       |
| [polyphony_group](/opcodes/polyphony_group)                |    ✓    |      X       |

## [Region Logic](/opcodes/categories#region-logic): MIDI Conditions

| Opcode                                                     |  Aria   | LinuxSampler |
| ---                                                        |  :---:  |    :---:     |
| [lohdccN](/opcodes/lohdccN)                                |    ✓    |      X       |
| [hihdccN](/opcodes/hihdccN)                                |    ✓    |      X       |
| [sw_default](/opcodes/sw_default)                          |    ✓    |      X       |
| [sw_label](/opcodes/sw_label)                              |    ✓    |      X       |
| [sw_lolast](/opcodes/sw_lolast)                            |    ✓    |      X       |
| [sw_hilast](/opcodes/sw_hilast)                            |    ✓    |      X       |
| [varNN_curveccX](/opcodes/varNN_curveccX)                  |    ✓    |      X       |
| [varNN_mod](/opcodes/varNN_mod)                            |    ✓    |      X       |
| [varNN_onccX](/opcodes/varNN_onccX)                        |    ✓    |      X       |
| [varNN_target](/opcodes/varNN_target)                      |    ✓    |      X       |

## [Performance parameters](/opcodes/categories#performance-parameters): Amplifier

| Opcode                                                     |  Aria   | LinuxSampler |
| ---                                                        |  :---:  |    :---:     |
| [amplitude](/opcodes/amplitude)                            |    ✓    |      ✓       |
| [amplitude_curveccN](/opcodes/amplitude_curveccN)          |    ✓    |      X       |
| [amplitude_onccN](/opcodes/amplitude_onccN)                |    ✓    |      X       |
| [amplitude_smoothccN](/opcodes/amplitude_smoothccN)        |    ✓    |      X       |
| [global_amplitude](/opcodes/global_amplitude)              |    ✓    |      X       |
| [master_amplitude](/opcodes/master_amplitude)              |    ✓    |      X       |
| [group_amplitude](/opcodes/group_amplitude)                |    ✓    |      X       |
| [pan_law](/opcodes/pan_law)                                |    ✓    |      X       |
| [global_volume](global_volume)                             |    ✓    |      X       |
| [master_volume](master_volume)                             |    ✓    |      X       |
| [group_volume](group_volume)                               |    ✓    |      X       |
| [volume_onccN](/opcodes/volume_onccN)                      |    ✓    |      X       |

## [Modulation](/opcodes/categories#modulation): [Envelope Generators](/types/envelope_generators)

| Opcode                                                     |  Aria   | LinuxSampler |
| ---                                                        |  :---:  |    :---:     |
| [ampeg_attack_shape](/opcodes/ampeg_attack_shape)          |    ✓    |      X       |
| [ampeg_decay_shape](/opcodes/ampeg_decay_shape)            |    ✓    |      X       |
| [ampeg_decay_zero](/opcodes/ampeg_decay_zero)              |    ✓    |      X       |
| [ampeg_release_shape](/opcodes/ampeg_release_shape)        |    ✓    |      X       |
| [ampeg_release_zero](/opcodes/ampeg_release_zero)          |    ✓    |      X       |
| [egN_shapeX](/opcodes/egN/shapeX)                          |    ✓    |      X       |

## [Modulation](/opcodes/categories#modulation): [LFO](/types/lfo)

| Opcode                                                     |  Aria   | LinuxSampler |
| ---                                                        |  :---:  |    :---:     |
| [lfoN_offset/lfoN_offset2](/opcodes/lfoN/offset)           |    ✓    |      X       |
| [lfoN_ratio/lfoN_ratio2](/opcodes/lfoN/ratio)              |    ✓    |      X       |
| [lfoN_scale/lfoN_scale2](/opcodes/lfoN/scale)              |    ✓    |      X       |
| [lfoN_wave2](/opcodes/lfoN/wave2)                          |    ✓    |      X       |

## Effects

| Opcode                                                     | Aria  | LinuxSampler |
| ---                                                        | :---: |    :---:     |
| [param_offset](/opcodes/param_offset)                      |   ✓   |      X       |
| [vendor_specific](/opcodes/vendor_specific)                |   ✓   |      X       |
