pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 2px;
}
.hljs {
    border: 1px solid #888;
}
.hljs-comment {
    color: #888;
}
.hljs-punctuation,
.hljs-tag {
    color: #444a;
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
    color: #444;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag {
    color: #905;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: #044;
}
.hljs-section,
.hljs-title {
    color: #800;
    font-weight: 700;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: #bc6060;
}
.hljs-built_in,
.hljs-meta .hljs-built_in {
    color: #008;
}
.hljs-addition,
.hljs-literal,
.hljs-bullet,
.hljs-code {
    color: #397300;
}
.hljs-meta {
    color: #1f7199;
}
.hljs-meta .hljs-string {
    color: #4d99bf;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: 700;
}
